#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.success-message {
  font-weight: bold;
  font-size: medium;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(8, 177, 8);
}

.error-message {
  font-weight: bold;
  font-size: medium;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(188, 8, 8);
}

.update-price-form {
  display: flex;
  flex-direction: column;
}

.update-price-label {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.updated-products {
  padding: 5px;
  margin: 7px;
  text-align: left;
}

.product {
  border-bottom: 2px solid rgba(255, 255, 255, 0.571);
  margin-top: 10px;
}

ul,
li {
  list-style: none;
}
